<form id="js-config-view" class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="jserDirPath">JSer.infoリポジトリのパスを指定して下さい</label>
            <input id="jserDirPath" type="text" placeholder="/path/to/jser.info/" value="{{jserDirPath}}">
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button pure-button-primary">保存</button>
        </div>
    </fieldset>
</form>